{% extends 'mes_aliments/base.html' %}

{% block content %}
    {% load static %}
	<!--legal_mention-->
    <div id="orange_top">
        <div id="mention_legal">
            <h1>Mentions Légales</h1>
            <h4>Propriétaire du site</h4>
            <p>Société Pur beurre de la région du Bonheur</p>
            <h4>Editeur</h4>
            <p>
                Société Pur beurre de la région du Bonheur</br>
                7, rue de La Farine</br>
                Code Postale: 00001</br>
                12347 Paris cedex 01</br>
                Etablissement public Adminstratif de l'Etat N° SIREN: 111 111 111</br>
            </p>
            <h4>Directeur de la publication</h4>
            <p>Colette Tatou, Co-fondatrice de le Société Pur beurre de la région du Bonheur</p>
            <h4>Directeur de la rédaction</h4>
            <p>Remy, Co-fondateur de le Société Pur beurre de la région du Bonheur</p>
        </div>
    </div>
{% endblock %}