{% extends 'mes_aliments/base.html' %}

{% block content %}
    {% load static %}
    {% load multifor %}
	<!-- my_favorite-->
    <div id="orange_top">
      {% if favorite_product|length_is:"0" %}
        <p>Votre liste de Favoris est nulle! Veuillez enregistrer des produits dans la base de données pour afficher cette liste.</p>
      {% else %}
            {% load multifor %}
                {% for product in favorite_product; substitute in favorite_substitute %}
                    <div id="liste">
                        <div id="prod_fav">
                            <a href="{% url 'my_product' product.id %}">
                                <img src="{{ product.image }}" id="fav_img">
                            </a>
                        </div>
                        <div id="subs_fav">
                            <a href="{% url 'my_product' substitute.id %}">
                                <img src="{{ substitute.image }}" id="fav_img">
                            </a>
                        </div>
                        <div id="nutri_vs">
                            {{product.nutriscore_grade}} vs {{substitute.nutriscore_grade}}
                        </div>
                        <hr>
                    </div>
                {% endfor %}
      {% endif %}
    </div>
{% endblock %}