{% extends 'mes_aliments/base.html' %}

{% block content %}
	<div id="orange_top_product">
        <div class="text-center" id="product_detail">
            <style type="text/css">
                #product_detail{
                    background-image: url('{{product.image}}');
                }
            </style>
            <div id="product_name"><h2>{{ product }}</h2></div>
        </div>
        <div class="margtop_20px">
            <div id="product_info">
                <p id="nutri_title">Nutriscore</p>
                {% if product.nutriscore_grade == "a" %}
                    <div>
                        <p id="nutriscore">{{ product.nutriscore_grade }}</p> b c d e
                    </div>
                {% endif %}
                {% if product.nutriscore_grade == "b" %}
                    <p class="inline">a <p id="nutriscore">{{ product.nutriscore_grade }}</p> c d e</p>
                {% endif %}
                {% if product.nutriscore_grade == "c" %}
                    <p class="inline">a b <p id="nutriscore">{{ product.nutriscore_grade }}</p> d e</p>
                {% endif %}
                {% if product.nutriscore_grade == "d" %}
                    <p class="inline">a b c <p id="nutriscore">{{ product.nutriscore_grade }}</p> e</p>
                {% endif %}
                {% if product.nutriscore_grade == "e" %}
                    <p class="inline">a b c d <p id="nutriscore">{{ product.nutriscore_grade }}</p></p>
                {% endif %}
            </div>
            <p id="nutri_info">
                Repères nutritionnels pour 100 g
            </p>
        </div>
        <a href="{{ product.url }}" target="_blank" id="product_url">Voir la fiche d'OpenFoodFacts</a>
    </div>
{% endblock %}